body {
  padding: 20px;
}
button {
  margin-right: 15px;
}

a {
  margin-right: 5px;
}
.container-fluid {
  width: 100%;
  max-width: 1200px; /* Puedes ajustar este valor según tus necesidades */
  margin: 0 auto;
  padding: 20px;

  @media (min-width: 992px) {
    padding: 20px;
    width: 100%;
    display: block !important;
  }

  @media (max-width: 991px) and (min-width: 768px) {
    padding: 20px;
    width: 100%;
    display: block !important;
  }
  @media (max-width: 767px) {
    padding: 10px;
    display: block !important;
  }
}
